
*#abc{
	 background-color: blue;
	 font-family: cursive; 
	 font-size: 40px;
}
.abc{
	color: yellow;
	background-color: pink;
	font-family: cursive;
	font-size: 40px;
}
p,span{
	color: red;
	background-color: green yellow;
	font-size: 40px;
}
div{
	height: 300px;
	width:300px;
	color: pink;
	background-color:yellow;

}
*{
	
	margin: 0px;
	padding: 0px;
	font-family: cursive;
}
body{
	height: 100vh;
	width: 100vw;
	background-color:green yellow;
}
input[type]{
	color: green
}
input[type="text"]{
	color: blue
}
input[type="number"]{
	color: red;
}
input[type="password"]{
	color: yellow;
}
a[herf]{
	background-color: violet;
}
img{
	height: 50px;
	width:50px;
}

a:link{
	color: green;
}
a:visited{
	color: pink;
}
a:hover{
	color: red;
}
a:active{
	color: yellow;
}
div:hover{
	background-color: blue;
	height: 500px;
	width: 500px; 
}